__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

.git/
.gitignore
.github/

.ipynb_checkpoints/

*.ipynb
*.xlsx
*.csv

notebooks/
data/

mlruns/
mlflow.db

.pytest_cache/
.coverage
htmlcov/

.env
.env.*

README.md